<div class="video-suggestion">
	<img src="{{thumbnail-src}}" class="video-suggestion-thumbnail" />
	<div class="video-suggestion-body">
		<h3 class="video-suggestion-title">{{video-title}}</h2>
		<div class="video-suggestion-channel-name">
			{{channel-name}}
		</div>
		<div class="video-suggestion-view-count">
			{{@helpers/toCommaSepNum.helper view-count}} views
		</div>
	</div>
</div>