<li class="comment">
	<img src="{{avatar-src}}" class="comment-avatar" />
	<div class="comment-body">
		<h4 class="comment-name">{{name}}</h4>
		<div class="comment-message">
			{{message}}
		</div>
	</div>
</li>